*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build

# exclude property override that allows using jar for local client build
# To use, build the jars at the top level with ./gradlew :datarepo-client:jar then add the following to you local
# gradle.properties as:
# datarepoclientjar=<absolute path to repo root>/datarepo-client/build/libs/<newest file>.jar
gradle.properties
