name: Alpha Nightly Promotion
on:
  workflow_dispatch: {}
  #Note: We're scheduling this to run before the Jenkins alpha deploy job
  # this schedule is defined here: /dsp-jenkins/src/main/groovy/org/broadinstitute/dspjenkins/FCLegacyDeploy.groovyL130
  # However, github action runs can be delayed over an hour, so leaving extra buffer
  schedule:
    - cron: '0 17 * * 5' # Fridays at 12PM EST or 1PM EDT; 5PM UTC
    - cron: '0 1 * * 1-5' # Sun - Thurs 8PM EST or 9PM EDT; 1AM UTC
env:
  chartVersion: 0.1.508
jobs:
  alpha_promotion:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: 'Get Previous tag'
        id: apiprevioustag
        uses: "broadinstitute/github-action-get-previous-tag@master"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: 'Checkout terra-helmfile repo'
        uses: actions/checkout@v2
        with:
          repository: 'broadinstitute/terra-helmfile'
          token: ${{ secrets.BROADBOT_TOKEN}}
          path: terra-helmfile
          persist-credentials: false
      - name: "Find and replace Datarepo version in versions/app/dev.yaml"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i terra-helmfile/versions/app/dev.yaml releases.datarepo.appVersion ${{ steps.apiprevioustag.outputs.tag }}
      - name: "Find and replace Datarepo chartVersion version in versions/app/dev.yaml"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i terra-helmfile/versions/app/dev.yaml releases.datarepo.chartVersion ${{ env.chartVersion }}
      - name: "Read terra-helmfile daterepo fields in versions/app/dev.yaml"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq r terra-helmfile/versions/app/dev.yaml releases.datarepo
      - name: Create pull request
        uses: broadinstitute/create-pull-request@v3.5.0 # forked from peter-evans/create-pull-request
        id: create-pr
        with:
          token: ${{ secrets.BROADBOT_TOKEN }}
          path: terra-helmfile
          commit-message: "Datarepo version update: ${{ steps.apiprevioustag.outputs.tag }}"
          committer: datarepo-bot <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: "Datarepo version update: ${{ steps.apiprevioustag.outputs.tag }}"
          branch: "version-update/${{ steps.apiprevioustag.outputs.tag }}"
          body: |
            Update versions in **${{ steps.apiprevioustag.outputs.tag }}**.
            *Note: This PR was opened by the [update-env GitHub Actions workflow](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).*
          labels: "broadbot,datarepo,automerge,version-update"
      - name: "Notify Slack"
        if: always()
        uses: broadinstitute/action-slack@v3.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }} # required to work with job field
        with:
          status: ${{ job.status }}
          fields: job,repo,message
          channel: "#jade-alerts"
          username: "Data Repo tests"
          text: "Alpha Nightly Promotion"
