name: Alpha Nightly
env:
  # This must be defined for the bash redirection
  GOOGLE_APPLICATION_CREDENTIALS: 'jade-dev-account.json'
  # This must be defined for the bash redirection
  GOOGLE_SA_CERT: 'jade-dev-account.pem'
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
jobs:
  update_image:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: 'Get Previous tag'
        id: apiprevioustag
        uses: "broadinstitute/github-action-get-previous-tag@master"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: 'Checkout tag for DataBiosphere/jade-data-repo'
        run: |
          git checkout ${{ steps.apiprevioustag.outputs.tag }}
      - name: 'Checkout DataBiosphere/jade-data-repo-ui repo'
        uses: actions/checkout@v2
        with:
          repository: 'DataBiosphere/jade-data-repo-ui'
          token: ${{ secrets.HELM_REPO_TOKEN }}
          path: jade-data-repo-ui
          ref: develop
      - name: 'Create alpha release images'
        uses: broadinstitute/datarepo-actions@0.35.0
        with:
          actions_subcommand: 'alpharelease'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
          alpharelease: ${{ steps.apiprevioustag.outputs.tag }}
          gcr_google_project: 'broad-jade-dev'
