name: Update devs api image
env:
  # This must be defined for the bash redirection
  GOOGLE_APPLICATION_CREDENTIALS: 'jade-dev-account.json'
  # This must be defined for the bash redirection
  GOOGLE_SA_CERT: 'jade-dev-account.pem'
on:
  workflow_dispatch: {}
  push:
    branches:
      - develop
    paths:
      - '!*'
      - 'src/**'
      - 'gradle/**'
      - 'gradle**'
      - '**.gradle'
      - 'Dockerfile'
      - 'datarepo-clienttests/**'
      - '.github/workflows/dev-image-update.yaml'
      - '.swagger-codegen-ignore'
jobs:
  update_image:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    if: "!contains( github.event.sender.login, 'broadbot')"
    steps:
      - name: Checkout Develop branch of jade-data-repo
        uses: actions/checkout@v3
        with:
          ref: develop
          token: ${{ secrets.BROADBOT_TOKEN }}
      - name: 'Checkout datarepo-helm-definitions repo'
        uses: actions/checkout@v3
        with:
          repository: 'broadinstitute/datarepo-helm-definitions'
          token: ${{ secrets.BROADBOT_TOKEN }}
          path: datarepo-helm-definitions
      - name: "Bump the tag to a new version"
        id: bumperstep
        uses: broadinstitute/datarepo-actions/actions/main@0.65.0
        with:
          actions_subcommand: 'bumper'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
          version_file_path: build.gradle
          version_variable_name: version
          GITHUB_TOKEN: ${{ secrets.BROADBOT_TOKEN }}
      - name: "Publish to Artifactory"
        uses: broadinstitute/gradle-command-action@v1
        with:
          arguments: ':datarepo-client:artifactoryPublish'
        env:
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
          ENABLE_SUBPROJECT_TASKS: true
      - name: "Build new delevop docker image"
        uses: broadinstitute/datarepo-actions/actions/main@0.65.0
        with:
          actions_subcommand: 'gradlebuild'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
      - name: "Update Version in helm for Dev Env"
        uses: broadinstitute/datarepo-actions/actions/main@0.65.0
        with:
          actions_subcommand: 'deploytagupdate'
          helm_env_prefix: dev
      - name: 'Release Candidate Container Build: Checkout tag for DataBiosphere/jade-data-repo'
        uses: broadinstitute/retry@v2.5.1 #forked from nick-invision/retry
        with:
          timeout_minutes: 1
          polling_interval_seconds: 5
          max_attempts: 5
          command: |
            git fetch --all --tags
            git checkout ${{ steps.bumperstep.outputs.tag }}
      - name: 'Release Candidate Container Build: Checkout DataBiosphere/jade-data-repo-ui repo'
        uses: actions/checkout@v3
        with:
          repository: 'DataBiosphere/jade-data-repo-ui'
          token: ${{ secrets.BROADBOT_TOKEN }}
          path: jade-data-repo-ui
          ref: develop
      - name: 'Release Candidate Container Build: Create release candidate images'
        uses: broadinstitute/datarepo-actions/actions/main@0.65.0
        with:
          actions_subcommand: 'alpharelease'
          role_id: ${{ secrets.ROLE_ID }}
          secret_id: ${{ secrets.SECRET_ID }}
          alpharelease: ${{ steps.bumperstep.outputs.tag }}
          gcr_google_project: 'broad-jade-dev'
      - name: "Update Version for Integration Namespaces and Helm Charts"
        uses: broadinstitute/workflow-dispatch@v1
        with:
          workflow: Update API Helm Image Tags
          token: ${{ secrets.BROADBOT_TOKEN }}
      - name: Slack job status
        if: always()
        uses: broadinstitute/action-slack@v3.8.0
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          author_name: Integration Test
          mention: fb,muscles
          if_mention: failure
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
