name: Update API Helm Image Tags
on:
  workflow_dispatch:
    inputs:
      notify-slack:
        default: true
        type: boolean
  workflow_call:
    inputs:
      notify-slack:
        default: false
        type: boolean
jobs:
# new integration image updater
  integration_helm_tag_update:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: develop
      - name: 'Get Previous tag'
        id: apiprevioustag
        run: |
          TAG=$(git for-each-ref --sort=-creatordate --count 1 --format="%(refname:short)" "refs/tags/")
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
      - name: 'Checkout datarepo-helm-definitions repo'
        uses: actions/checkout@v3
        with:
          repository: 'broadinstitute/datarepo-helm-definitions'
          token: ${{ secrets.BROADBOT_TOKEN}}
          path: datarepo-helm-definitions
      - name: "integration-1 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-1/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "integration-2 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-2/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "integration-3 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-3/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "integration-4 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-4/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "integration-5 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-5/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "integration-6 find and replace"
        uses: docker://mikefarah/yq:3.3.4
        with:
          args: yq w -i datarepo-helm-definitions/integration/integration-6/datarepo-api.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "[datarepo-helm-definitions] Merge chart version update"
        uses: broadinstitute/datarepo-actions/actions/merger@0.69.0
        env:
          COMMIT_MESSAGE: "Datarepo api tag version update: ${{ steps.apiprevioustag.outputs.tag }}"
          GITHUB_REPO: datarepo-helm-definitions
          SWITCH_DIRECTORIES: true
          MERGE_BRANCH: master
      - name: "Notify Slack"
        if: ${{ inputs.notify-slack && always() }}
        uses: broadinstitute/action-slack@v3.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          fields: job,repo,message,author,took
          author_name: "[API] [datarepo-helm-definitions] Version update for Integration namespaces"
  datarepo_helm_chart_update:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Checkout develop branch of jade-data-repo'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: develop
      - name: 'Fetch latest jade-data-repo image tag'
        id: apiprevioustag
        run: |
          TAG=$(git for-each-ref --sort=-creatordate --count 1 --format="%(refname:short)" "refs/tags/")
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
      - name: '[datarepo-helm] Checkout repo'
        uses: actions/checkout@v3
        with:
          repository: 'broadinstitute/datarepo-helm'
          path: datarepo-helm
          token: "${{ secrets.BROADBOT_TOKEN }}"
      - name: "[datarepo-helm] [value.yaml] Update image tag"
        uses: docker://mikefarah/yq:3
        with:
          args: yq w -i datarepo-helm/charts/datarepo-api/values.yaml image.tag ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "[datarepo-helm] [Chart.yaml] Update appVersion"
        uses: docker://mikefarah/yq:3
        with:
          args: yq w -i datarepo-helm/charts/datarepo-api/Chart.yaml appVersion ${{ steps.apiprevioustag.outputs.tag }}"
      - name: "Fetch chart version and bump"
        id: chartversion
        run: |
          version=$(docker run --rm -v ${PWD}:/workdir mikefarah/yq:3 yq r datarepo-helm/charts/datarepo-api/Chart.yaml 'version')
          a=(`echo $version | sed 's/\./ /g'`)
          ((a[2]++))
          printf "increase default api version: ${a[2]}\n\n"
          chartversion="${a[0]}.${a[1]}.${a[2]}"
          echo "::set-output name=chartversion::$chartversion"
      - name: "[datarepo-helm] [Chart.yaml] Update chart version"
        uses: docker://mikefarah/yq:3
        with:
          args: yq w -i datarepo-helm/charts/datarepo-api/Chart.yaml version ${{ steps.chartversion.outputs.chartversion }}"
      - name: "[datarepo-helm] Merge chart version update"
        uses: broadinstitute/datarepo-actions/actions/merger@0.69.0
        env:
          COMMIT_MESSAGE: "Datarepo api version update: ${{ steps.apiprevioustag.outputs.tag }}"
          GITHUB_REPO: datarepo-helm
          SWITCH_DIRECTORIES: true
          MERGE_BRANCH: master
      - name: "Notify Slack"
        if: ${{ inputs.notify-slack && always() }}
        uses: broadinstitute/action-slack@v3.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          fields: job,repo,message,author,took
          author_name: "[API] [datarepo-helm] Version update for Helm Charts"
